@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

:root {
  --primary: #3077C6;
  --primary-dark: #10367c;
  --secondary: #F5BD41;
  --dark-mode-1: #121212;
  --dark-mode-2: #1D1E1F;
  --dark-mode-3: #4D4D4D;
  --stroke-color-main: #F3F3F4;
  --text-color-main: #383838;
  --general-white: #FFFFFF;
  --secondary-text: #BFBFBF;
  --bg-color-main: #EAF0F9;
  --one-col-width: calc(100% * 1 / 14);
}

@media only screen and (max-width: 1440px) {

  .col-1 {
    width: var(--one-col-width);
  }

  .col-2 {
    width: calc(var(--one-col-width) * 2);
  }

  .col-3 {
    width: calc(var(--one-col-width) * 3);
  }

  .col-4 {
    width: calc(var(--one-col-width) * 4);
  }

  .col-5 {
    width: calc(var(--one-col-width) * 5);
  }

  .col-6 {
    width: calc(var(--one-col-width) * 6);
  }

  .col-7 {
    width: calc(var(--one-col-width) * 7); /*50%*/
  }

  .col-8 {
    width: calc(var(--one-col-width) * 8);
  }

  .col-9 {
    width: calc(var(--one-col-width) * 9);
  }

  .col-10 {
    width: calc(var(--one-col-width) * 10);
  }

  .col-11 {
    width: calc(var(--one-col-width) * 11);
  }

  .col-12 {
    width: calc(var(--one-col-width) * 12);
  }

  .col-13 {
    width: calc(var(--one-col-width) * 13);
  }

  .col-14 {
    width: calc(var(--one-col-width) * 14);
  }

}


.homes_guests_loves_header_heading120 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

.homes_guests_loves_header_h2 {
  font: 500 40px Roboto;
  color: var(--text-color-main);
  margin: 0;
  padding-top: 120px;
}

.homes_guests_loves {
  box-sizing: border-box;
  height: 830px;
  background-color: var(--bg-color-main);
  margin: 0;
}


.homes_guests_loves_main {
  padding-top: 105px;
}

.spinner_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  max-width: calc(100% - var(--one-col-width) * 2);
}

.hotels_name_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: calc(100% - var(--one-col-width) * 2);
}

p, figure {
  margin: 0;
}

.hotels_card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  min-width: 24%;
  padding-right: 15px;

}
.hotels_card:last-child{
  padding-right: 0;
}

.images {
  width: 100%;
  max-width: 295px;
  height: 100%;
  max-height: 295px;
  object-position: top center;
  object-fit: cover;
}

.homes_guests_loves_main_name_hotel, .homes_guests_loves_main_name_place, .the_best_destinations_country {
  font: 400 24px Roboto;
  line-height: 28px;
  color: var(--primary);
  padding-top: 24px;
  flex-wrap: wrap;
}

.homes_guests_loves_main_name_place {
  color: var(--secondary-text);
}

.arrow_right {
  width: 40px;
  height: 40px;
}

.arrow_position_right {
  position: absolute;
  right: -20px;
  top: 8rem; /*calc(100% - 20px);*/
  z-index: 2;
}
